/*******************************************MAIN DETAILS*******************************************/


/* Default font and display settings */
body {
    font-family: 'Bitter', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Change the font for the paragraph under the main title */
.main {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
}

/*Background image */
.bg {
    background-image: url('/static/images/med-food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

/*Darken the background image so that text can be read*/
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Darken the background image even more so that text can be read*/
.overlay-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Remove most of the padding around the title in the card */
#card-image-title {
    padding: 0 3px 5px 3px;
}

.card-image{
    background-image:url('/static/images/food-background.jpg');
    min-height: 200px;
}

/* Ensure the headings and buttons are in the middle of the background image */
.in-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

/* Make the text white on the main page */
.main {
    color: white;
}

.btn {
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn-large {
  margin: 5px 5px;
  padding: 0 0.5em; }
  
.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.parallax-container {
    height: 200px;
}

.search{
    margin-top: 15px;
    
}

nav .brand-logo {
    margin-left: 20px;
}

.display_image{
    background-image:url('/static/images/food-background.jpg');
    min-height: 200px;
    min-width: 200px;
}

.align{
    display:block;
    align: right;
}

.header h6{
    margin-left:5px;
}

.btn-margin{
    margin-left:10px;
}

/*******************************************FOOTER DETAILS*******************************************/


/*Features of the main footer*/

footer {
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Features of the social links*/

.footer-social .social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 22px;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*Features when hovering over social links*/

.footer-social .social-links li a i:hover {
    background: red;
    color: black;
}

li {
  display: inline;
}

/*Features of the copyright statement at bottom of page*/

.copyright {
    font-size: 0.8em;
}

/*Icon features*/

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}
