<!-- Footer -->
<footer class="page-footer teal lighten-1">
  <div class="footer-container">
    <div class="row footer-social">
        <ul class="list-inline social-links">
          <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/darren-messenger-a4a59951" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://github.com/darrenmessenger" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
  </div>
    <div class="container">
      <div class="copyright">
        © 2019 - Website designed and built by Darren Messenger
      </div>
    </div>
</footer>
