<header>
    <nav>
    <div class="nav-wrapper">
      <a href="{{url_for('index')}}" class="brand-logo">CookBook Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('categories')}}">Categories</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('about')}}">About</a></li>
    <li><a href="{{url_for('categories')}}">Categories</a></li>
  </ul>
</header>
