{% extends 'base.html'%} {% block content %}

<div class="container">

  <div class="row">
    <h1>Add a New Recipe</h1>
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">title</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <input id="recipe_description" name="recipe_description" type="text" class="validate">
          <label for="recipe_description">Recipe Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">list</i>
          <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea"></textarea>
          <label for="recipe_ingredients">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">insert_comment</i>
          <textarea id="recipe_method" name="recipe_method" class="materialize-textarea"></textarea>
          <label for="recipe_method">Method</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">poll</i>
          <select id="category" name="recipe_category">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
          <label>Recipe Category</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">person</i>
          <input id="recipe_author" name="recipe_author" type="text" class="validate">
          <label for="recipe_author">Recipe Author</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">image</i>
          <input id="recipe_image_url" name="recipe_image_url" type="text" class="validate">
          <label for="recipe_image_url">Enter the Recipe Image URL</label>
        </div>
      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-light right" type="submit" name="action">Add Recipe
            <i class="material-icons right">send</i>
          </button>
      </div>
  </div>
  </form>
</div>
{% endblock %}
