{% extends 'base.html'%} {% block content %}

<div class="container">

  <div class="row">
    <h1>Add a New Recipe</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="recipe_description" type="text" class="validate">
          <label for="recipe_description">Recipe Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="recipe_ingredients" class="materialize-textarea"></textarea>
          <label for="recipe_ingredients">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="recipe_method" class="materialize-textarea"></textarea>
          <label for="recipe_method">Method</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="recipe_author" type="text" class="validate">
          <label for="recipe_author">Recipe Author</label>
        </div>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Recipe Image</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload an image of the recipe">>
        </div>
      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-light right" type="submit" name="action">Add Recipe
            <i class="material-icons right">send</i>
          </button>
      </div>
  </div>
  </form>
</div>
{% endblock %}
