{% extends 'base.html'%} {% block content %}
<div class="container">
    <h3>Edit Course</h3>
    <div class="row">
        <form action="{{ url_for('update_course', course_id=course._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <input id="course_name" name="course_name" type="text" class="validate" value="{{course.course_name}}">
                    <label for="course_name">Course Name</label>
                </div>
            </div>
            <div class="row">
                <button class="btn-small waves-effect waves-light orange" type="submit" name="action">Save Changes
                <i class="material-icons right">playlist_add</i>
             </button>
                <a href="{{ url_for('get_courses') }}" class="waves-effect waves-light btn-small red">
                <i class="material-icons right">cancel</i>Cancel
            </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
