{% extends 'base.html'%} {% block content %}
<div class=" bg ">
  <div class="overlay">
    <h1 class="main">Welcome to the CookBook</h1>
    <h5 class="main">Recipes added for your enjoyment by other users, or by yourself!</h5>
  </div>
</div>
<div class="row container">
  
    {% for recipe in recipes %} 
      {% if loop.index0 !=0 and loop.index0 % 3 == 0  %}
           
          </div>
      {% endif %} 
      {% if loop.index0 == 0 or loop.index0 %3 == 0  %}
      
          <div class="row">
          
      {% endif %}
        
      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="{{recipe.recipe_image_url}}" alt="recipe image"></img>
            <span class="card-title">{{recipe.recipe_name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{url_for('display_recipe', recipe_id=recipe._id)}}"><i class="material-icons">navigate_next</i></a>
        </form>
          </div>
          <div class="card-content">
            <p class=>{{recipe.recipe_description}}</p>
          </div>
        </div>
      </div>
      {% if loop.last  %}
          </div>
      {% endif %} 
      
   
    {% endfor %}
</div>



{% endblock %}
